<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <h1>Form</h1>
    <form method="POST" action="/new">
        <input type="text" name="user" placeholder="Your name" required></input>
        <input type="text" name="text" placeholder="Text content" required></input>
        <button type="submit">Submit</button>
     </form>
</body>
</html>
